html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#outlet {
    flex-grow: 1;
}

#navbar {
    padding: 0.75rem 0.5rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
}

#navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: gray;
}

#navbar a.active {
    color: black;
}

.grid {
    overflow-y: auto;
}
