@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* noto-sans-latin-wght-normal */
    @font-face {
        font-family: "Noto Sans Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        font-stretch: 62.5% 100%;
        src: url(@fontsource-variable/noto-sans/files/noto-sans-latin-wdth-normal.woff2)
            format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
            U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
            U+FEFF, U+FFFD;
    }

    /* noto-sans-latin-wght-italic */
    @font-face {
        font-family: "Noto Sans Variable";
        font-style: italic;
        font-display: swap;
        font-weight: 100 900;
        font-stretch: 62.5% 100%;
        src: url(@fontsource-variable/noto-sans/files/noto-sans-latin-wdth-italic.woff2)
            format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
            U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
            U+FEFF, U+FFFD;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --ring: 346.8 77.2% 49.8%;

        --radius: 0.5rem;
    }
    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;

        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;

        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;

        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --ring: 346.8 77.2% 49.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
