@import 'open-props/style';
@import 'open-props/normalize';

:root {
    --brand: var(--red-9);
    --text-1: var(--gray-8);
    --text-2: var(--gray-7);
    --surface-1: var(--gray-0);
    --surface-2: var(--gray-1);
    --surface-3: var(--gray-2);
    --surface-4: var(--gray-3);
}
